nav{
    height: 200px;
    background-color: #564578;
    position: relative;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    
}
h1 {
    color: white;
    font-size: 40px;
    position: absolute;
    margin-top: 80px;
    margin-left: 40px;
    font-weight: 600;
}
a{
    text-decoration: none;
}
